.image-break-section {
    background-color: var(--goodreads-secondary-background);
    padding-bottom: 0;
    padding-top: 8rem;

    /* Flexbox for alignment */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
    align-items: center; 
}

/* Research Section */

/* .research-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
} */

/* .research-intro {
    margin: 0 10rem;
} */

.research-intro p {
    margin-bottom: 1rem;
}

.research-intro-question {
    text-align: center;
}

.research-example-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 10rem;
}

.research-example-text {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
    max-width: 45%;
}

.research-example-text-label {
    /* text-decoration: underline; */
    font-weight: 700;
}

.research-example-text-section {
    margin-bottom: 1rem;
}

.research-example-text-section ol {
    margin-left: 2rem; 
    padding-left: 2rem;
}

.research-example-text-section li {
    margin-bottom: 1rem;
}

.research-example-image-container {
    flex: 0 0 50%;
    border-left: 1px solid #e0e0e0
}

.research-example-state-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.research-example-image {
    width: 90%;
    height: auto;
    object-fit: scale-down;
    border-radius: 8px;
    margin: 1rem auto;
}

.research-example-caption {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    color: var(--primary-text);
}

/* State Models Section */
/* .state-models-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
} */

.state-models-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 10rem;
    margin-bottom: 2rem;
}

.state-model-card {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin: 0 10rem;
    padding: 2rem 1rem;
    /* width: 100%; */
    /* max-width: 400px; */
    /* height: 100%; */
    background-color: var(--goodreads-secondary-background);
    border-radius: 30px;
    border: 1px solid var(--medium-brown);
}

.state-model-card-image {
    width: 90%;
    height: auto;
    object-fit: scale-down;
    border-radius: 8px;
    margin: 1rem auto;
}

.state-model-card-caption {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.revised-state-models-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 10rem;
    margin-bottom: 2rem;
}

.final-redesign-image-container {
    background-color: var(--goodreads-secondary-background);
    border-radius: 30px;
    border: 1px solid var(--medium-brown);
    padding: 2rem;
    margin: 0 10rem;
}

.final-redesign-image {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    border-radius: 8px;
    margin: 1rem auto;
}